<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <style>
        #dome {
            width: 500px;
            height: 500px;
            margin: 50px auto;
            border: 1px solid #cccccc;
        }
    </style>
</head>

<body>

    <div id="dome">









         <som></som>



    </div>




    <script>

                // 子组件
                var  som = {
                    template: '<h1>tian天我的ashsjdaskdjasl</h1>'
                }


                // Vue.component('runoob', {
                //   template: '<h1>自定义组件!</h1>'
                // })


        // vue模板
       var vml = new Vue({

            el: '#dome', //获取dom节点


            methods: { //点击事件控制区


            },

            computed: { //逻辑计算处理数据，过滤数据


            },

            data: {  //你的数据

            },


           components:{ //注册子组件
                som

           },


            watch:{ //数据监控

            },


           filters:{ //处理特殊情况

           },

           directives:{ //自定义事件

           }



        })



        //vue获取属性的3种方法
        // let c = vml.$data.a //获取对象属性
        // let b = vml.b //获取对象属性
        // let a = vml.$data //获取对象节点
        // console.log(a)
        // let div = document.querySelector('#dome')




        //vue表单获取数据常用指令
        //v-model="name"用于表单事件，用于收集表单的value值存在字符串中
        //v-model.number="name"限定用户必须输入数字，把用户输入的转换为nember类型
        //v-model.lazy="name"  当文本框失去焦点的时候响应视图的变化
        //v-model.trim="name"  把数据进行处理响应的js中，就是处理空格



        //绑定点击事件装饰指令
        //v-on:click="fn  绑定click事件，对应的函数为fn
        //v-on:click.once="fn  绑定click事件，对应的函数为fn 一次性的点击事件
        //v-on:click.stop="fn    .stop 用于阻止冒泡
        //v-on:click.captare="fn   .captare 捕获阶段触发指令



        //键盘事件绑定
        //v-on:keyup.13='submit' 也可以写 v-on:keyup.enter='submit' 表示按下enter触发的事件  对应的键盘键值对百度





        //元素显示控制指令
        //v-if='3'或者v-if='3>2'
        //v-else-if
        //v-else
        //这三个其实就是判断表达式，跟if判断一样，值可以是数据，也可以是表达式



        //遍历数组和对象的数据，字符串也能进行遍历跟js的for in是一样的
        //v-for='item in arr'
        //数组值 item index
        //对象 item key value
        //其他同理




        //生命周期函数，需要了解
        //beforcreate  vue实例状态，data没有数据
        //create       vue实例状态，但是数据未挂载到视图中，data中已经有数据，使用ajax请求数据写在这里，只有数据更新均会执行该函数
        //befomethod  根节点已经存在，但是数据未挂到跟节点
        //method      此时数据挂载完成可以操作数据
        //befoupdate   在数据改变之前触发
        // update     在数据改变之后触发
        // beforeDestroy   在数据删除前触发
        // destroyed 在数据删除后触发



        //vue如何绑定class，其他属性，样式绑定？
        //v-bind:属性名称='a'  自定义属性等于js变量a
        //简写  :属性名称='a'
        //原生class如何绑定？   :class={ red:true}   也可以引用data里面的对象  :class= 对象  也可以:class=[对象1，对象2} 样式也是如此
        //绑定属性时对象的键值为true 为false则不加载








    </script>
</body>

</html>