<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1440236_etxp9llkd7.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../hint.css">
    <script src="../gundongtiao.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

</head>


<body>

    <div class="demo" id="content-test">

        <!--标题栏-->
        <div class="titer">
            <div class="libiao">

                <div class="hang">
                    <a>从小就疯了</a>
                </div>

                <div>
                    <ul class="daohang">

                        <li>
                            <a href="../关于我/guanyu.html">关于</a>
                        </li>

                        <li>
                            <a href="../留言/liuyan.html">留言板</a>
                        </li>

                        <li>
                            <a href="../动态/dongtai.html">动态</a>
                        </li>

                        <li>
                            <a href="../文章/wenzhang.html">文章</a>
                        </li>

                        <li>
                            <a href="../shouye.html">首页</a>
                        </li>

                    </ul>
                </div>

                <a class="dengru">
                    <i class="iconfont icon-icon"></i>
                </a>

            </div>
        </div>

        <div class="jianrong">
            <div class="demo1"  >


                <!--文章展示区-->
                <div class="zhanshi">
                    <p class="tisi" v-if="data_tsxt==''">暂无内容!</p>
                    <ul class="list">
                        <li v-for="(data_tsxt,index) in data_tsxt">
                            <div class="content-1">
                                <h5 class="list-title">
                                    <span>【原创】</span>
                                    <a :href="data_tsxt.zhuan">{{data_tsxt.title}}</a>
                                </h5>
                                <div class="tome">
                                    <span>{{data_tsxt.day}}</span>
                                    <span>{{data_tsxt.month}}</span>
                                    <span>{{data_tsxt.year}}</span>
                                </div>
                                <div class="content">
                                    <a :href="data_tsxt.zhuan">
                                        <img :src="data_tsxt.msg_url">
                                    </a>
                                    <span>
                                    {{data_tsxt.content_wen}}
                                </span>
                                </div>
                                <div class="read-more">
                                    <div></div>
                                    <a :href="data_tsxt.zhuan">立即阅读</a>
                                </div>
                                <div></div>

                            </div>
                        </li>
                    </ul>

                </div>



                <!--导航栏-->
                <div class="daohanglan visible-lg-*">

                    <div class="doahang1">
                        <div id="gotop" class="top">
                            <img id="img" src="images/Top.jpg" />
                        </div>

                        <div class="doahang-tlter">

                            <label>
                            <input type="text" placeholder="输入关键字搜索" v-model="chauxun" @keyup.13="guolu">
                            <span class="iconfont icon-search"@click="guolu" ></span>
                        </label>
                            <ul>

                            </ul>


                        </div>
                        <ul class="daohang-list">
                            <li>
                                <a @click="quanbu">全部文章</a>
                            </li>

                            <li>
                                <a @click="ceshi"> 网站测试</a>
                            </li>

                            <li>
                                <a @click="kaifa">网站开发</a>
                            </li>

                            <li>
                                <a @click="xitong">操作系统</a>
                            </li>

                            <li>
                                <a @click="xuexi">深度学习</a>
                            </li>

                            <li>
                                <a @click="suanfa">程序算法</a>
                            </li>

                            <li>
                                <a @click="qita">其他</a>
                            </li>


                        </ul>


                        <div class="daohang2">
                            <h5>热门文章</h5>
                            <div>
                                <ul>
                                    <li>

                                        <a href="../易用性测试/yiyongx.html"><span>1.</span> web端易用性测试教程</a>
                                    </li>

                                    <li>

                                        <a href="../压力测试/ylce.html"><span>2.</span> 压力测试教程详细</a>
                                    </li>

                                    <li>

                                        <a href="../http协议内容/http.html"> <span>3.</span>HTTP协议内容详解</a>
                                    </li>

                                    <li>

                                        <a href="../购物车案例/gowuche.html"> <span>4.</span> 购物车实现案例</a>
                                    </li>

                                    <li>
                                        <a href="../备忘录/index.html"><span>5.</span> 简易版备忘录vue小实战</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--结尾备案号和提示-->
        <div class="yqts">
            <div class="dsi">
                <div class="list1">
                    <div class="iconfont icon-github"></div>
                    <div class="iconfont icon-youxiang"></div>
                    <div class="iconfont icon-weixin"></div>
                    <div class="iconfont icon-weibo"></div>
                </div>
                <p>Copyright © 2019 - 赣ICP备9678122号, All Rights Reserved Powered By 从小就疯了 1.0.0</p>
            </div>
        </div>

    </div>

    <script src="situation.js"></script>




</body>

</html>