<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>博客日记(待开发)</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1440236_etxp9llkd7.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../hint.css">
    <script src="../gundongtiao.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

</head>


<body>

    <div class="demo" id="content-test">

        <!--标题栏-->
        <div class="titer">
            <div class="libiao">

                <div class="hang">
                    <a>从小就疯了</a>
                </div>

                <div>
                    <ul class="daohang">

                        <li>
                            <a href="../关于我/guanyu.html">关于我</a>
                        </li>

                          <li>
                            <a href="../博客日志/index.html">博客日记</a>
                         </li>


                        <li>
                            <a href="../留言/liuyan.html">留言板</a>
                        </li>

                        <li>
                            <a href="../动态/dongtai.html">动态</a>
                        </li>


                        <li>
                            <a href="../shouye.html">首页</a>
                        </li>

                    </ul>
                </div>

                <a class="dengru">
                    <i class="iconfont icon-icon"></i>
                </a>

            </div>
        </div>

        <div class="jianrong">
            <div class="demo1"  >


                <!--文章展示区-->
                <div class="zhanshi">
                    <p class="tisi" v-if="data_tsxt==''">暂无内容!</p>
                    <ul class="list">
                        <li v-for="(data_tsxt,index) in data_tsxt">
                            <div class="content-1">
                                <h5 class="list-title">
                                    <span>【博客日志】</span>
                                    <a :href="data_tsxt.zhuan">{{data_tsxt.title}}</a>
                                </h5>
                                <div class="tome">
                                    <span>{{data_tsxt.day}}</span>
                                    <span>{{data_tsxt.month}}</span>
                                    <span>{{data_tsxt.year}}</span>
                                </div>
                                <div class="content">
                                    <a :href="data_tsxt.zhuan">
                                        <img :src="data_tsxt.msg_url">
                                    </a>
                                    <span>
                                    {{data_tsxt.content_wen}}
                                </span>
                                </div>
                                <div class="read-more">
                                    <div></div>
                                    <a :href="data_tsxt.zhuan">立即阅读</a>
                                </div>
                                <div></div>

                            </div>
                        </li>
                    </ul>

                </div>



                <!--导航栏-->
                <div class="daohanglan visible-lg-*">


                    <div class="seek">
                         <input type="text" placeholder="请输入关键字搜索" v-model="chauxun" @keyup.13="guolu">
                        <input type="button" class="but_01" value="搜索"  @click="guolu">
                    </div>

                        <div id="gotop" class="top">
                            <img id="img" src="images/Top.jpg" />
                        </div>

                        <div class="daohang2">
                            <h5>热门推荐</h5>
                            <div>
                                <ul>
                                    <li>

                                        <a href="./z-01.html"><span>1.</span>英语君面试题</a>
                                    </li>

                                    <li>

                                        <a href="./z-02.html"><span>2.</span>百度跨域请求案例</a>
                                    </li>

                                </ul>
                            </div>

                        </div>

                         <div class="daohang3">
                             <h3><span>—</span> 关注微信 <span>—</span></h3>
                                <img src="images/1.jpg">
                         </div>

                </div>
            </div>
        </div>



        <!--结尾备案号和提示-->
        <div class="yqts">
            <div class="dsi">
                <div class="list1">
                    <div class="iconfont icon-github"></div>
                    <div class="iconfont icon-youxiang"></div>
                    <div class="iconfont icon-weixin"></div>
                    <div class="iconfont icon-weibo"></div>
                </div>
                <p>Copyright © 2019 - 赣ICP备9678122号, All Rights Reserved Powered By 从小就疯了 1.0.0</p>
            </div>
        </div>

    </div>

  <script src="./situation.js"></script>


</body>
</html>