body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.top-titer {
    width: 1512px;
    height: 186px;
    margin: 0 auto;
    background: white;
}

.top-titer .titer {
    position: relative;
    width: 1200px;
    height: 186px;
    margin: 0 auto;
    background: white;
}

.top-titer .titer .imgs-top {
    width: 208px;
    height: 136px;
    background: url("https://res.shiguangkey.com/file/201909/29/20190929101520538378094.gif");
}

.text-red {
    position: absolute;
    left: 225px;
    top: 44px;
    width: 760px;
    height: 90px;
    background: white;
}

.sousuo {
    width: 510px;
    border: 3px solid red;
    background: red;
}

.text-red input[type='text'] {
    width: 400px;
    height: 42px;
    font-size: initial;
    text-indent: 1em;
}

.text-red input[ type='submit'] {
    width: 92px;
    height: 42px;
    background: red;
    border: 3px solid red;
    margin-left: -5px;
    font-size: 18px;
}

.daohang a {
    line-height: 40px;
    padding-left: 10px;
}

.img1 {
    position: absolute;
    left: 586px;
    top: 0;
    float: right;
}

.qiehuan {
    width: 110px;
    height: 50px;
    float: right;
    margin-top: -75px;
    background: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.qiehuan span {
    padding: 0 5px;
}

.navigation {
    position: absolute;
    top: 120px;
    width: 1200px;
    height: 50px;
}

.navigation .titer {
    width: 208px;
    height: 50px;
    background: blue;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.navigation .list-1 {
    float: left;
    line-height: 50px;
    font-size: 18px;
    padding-left: 50px;
}

.navigation .img-1 {
    float: right;
}

ul {
    list-style: none;
    padding-left: 0;
}

.demo {
    position: relative;
    width: 1512px;
    height: 342px;
    margin: auto;
    background: url("imgs/dem03/7.jpg")center/cover;
}

.demo>ul {
    position: absolute;
    left: 156px;
    top: -16px;
    width: 208px;
    height: 340px;
    background: #272a38;
    z-index: 2;
}

.demo>ul>li[class='title'] {
    width: 208px;
    height: 50px;
    background: blue;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.demo>ul>li[class='list1'] {
    width: 208px;
    height: 68px;
    color: white;
    font-size: 18px;
}

.demo>ul>li>a {
    padding-left: 30px;
    line-height: 68px;
}

.demo>ul>li>a>i {
    padding-right: 10px;
}

.demo>ul>li>ul {
    display: none;
    position: absolute;
    left: 208px;
    top: 0;
    width: 449px;
    min-height: 340px;
    background: white;

}

.list1:hover .gvg-list {
    display: block;
}

.gvg-list {
    border: 1px solid black;
    color: #272a38;
    font-size: 14px;
}

.tsxt-title {
     padding-top:10px ;
     padding-left: 20px;
    padding-right: 20px;
    width: 130px;
    font-size: 14px;
    float: left;
}

.list2 {
    overflow: hidden;
    padding-top:10px ;
}

.list2>a {
    display: inline-block;
    border-left: 1px solid #55595c;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    height: 15px;
    line-height: 15px;
    color: #55595c;
}

.demo .zcl {
    position: absolute;
    width: 232px;
    height: 288px;
    left: 1200px;
    top: 40px;
    background-color: #ffffff;
    z-index: 3;
}

.demo .zcl div:nth-of-type(1) {
    width: 202px;
    height: 114px;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
}

.demo .zcl div:nth-of-type(1) a img {
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.demo .zcl div:nth-of-type(2) {
    width: 202px;
    height: 58px;
    margin: -10px auto;
    text-align: center;
}

.demo .zcl div:nth-of-type(2) a div {
    width: 85px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.demo .zcl div:nth-of-type(2) a:nth-of-type(1) div {
    color: white;
    background: green;
    border-radius: 3px;
}

.demo .zcl div:nth-of-type(2) a:nth-of-type(2) div {
    color: white;
    background: blue;
    border-radius: 3px;
}

.demo .zcl div:nth-of-type(3) {
    display: inline-block;
    width: 232px;
    height: 84px;
    margin: 30px auto;
    background: #f8f8f8;
    text-align: center;
    border-top: 1px solid #cccccc;
}

.demo .zcl div:nth-of-type(3) a {
    display: inline-block;
    margin: 10px auto;
}

.gv-1 {
    width: 1512px;
    margin: auto;
}

.gv-1 .v14g {
    width: 1200px;
    height: 571px;
    background: white;
    margin: 10px auto;
}

.gv-1 .v14g .v14g1 {
    width: 1100px;
    height: 52px;
    float: right;
    background: white;
    border-bottom: 1px solid #cccccc;
}

.gv-1 .v14g span {
    font-size: 24px;
    color: red;
    float: left;
    line-height: 82px;
}

.v14g1 a {
    float: right;
    font-size: 14px;
    color: #cccccc;
    line-height: 74px;
    padding-right: 10px;
}

.list001 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    height: 490px;
    background: white;
    margin: 0 auto;
}

.list001 li {
    width: 222px;
    height: 225px;
    border: 1px #cccccc solid;
    transition-duration: 0.5s;
}

.list001 li .kech1 {
    position: relative;
    width: 222px;
    height: 136px;
    background: white;
}

.list001 li .kech1 span {
    position: absolute;
    left: 164px;
    top: 5px;
    width: 54px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    z-index: 10;
    border-radius: 11px;
    background-color: #0090ff;
}

.list001 li .kech1 a img {
    width: 222px;
    height: 134px;
}

.list001 li .kech2 {
    width: 222px;
    height: 68px;
    background: white;
    margin-top: 18px;
}

.list001 li .kech2 a {
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    font-size: 14px;
    text-indent: 1em;
}

.list001 li .kech2 .renshu {
    font-size: 12px;
    color: black;
    line-height: 0px;
    padding-top: 25px;
    text-indent: 1em;
}

.list001 li .kech2 .shofei {
    font-size: 12px;
    color: black;
    float: right;
    line-height: 0px;
    padding-top: 25px;
    padding-right: 10px;
}

.list001 li .kech2 span em {
    color: #19a25d;
    font-style: normal;
}

.list001 li:hover {
    margin-top: -5px;
    color: blue;
}

.gv-1 .wailan {
    display: flex;
    width: 1200px;
    height: 123px;
    margin: 0 auto;
    background: #ffffff;
}

.gv-1 .wailan ul {
    width: 690px;
    height: 42px;
    margin: auto 0 auto 50px;
}

.gv-1 .wailan ul li {
    width: 112px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
}

.gv-1 .wailan ul li:nth-of-type(1) a {
    font-weight: bold;
}

.yqts {
    display: flex;
    width: 100%;
    height: 312px;
    background: #f0f0f1;
    margin: 0 auto;
}

.gv-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    background: #f0f0f1;
    margin: auto;
}

.gv-2 .bah {
    width: 600px;
    height: 136px;
    color: #A1A1A3;
    font-size: 12px;
}

.gv-2 .bah a img {
    width: 43px;
    height: 15px;
}

.gv-2 .ewm {
    display: flex;
    justify-content: space-between;
    width: 228px;
    height: 136px;
    text-align: center;
    font-size: 12px;
}

.gv-2 .ewm img {
    width: 90px;
    height: 90px;
}

.gv-2 .lxfs {
    width: 250px;
    height: 136px;
}